<div  style="height:450px" >
<img src="img/banner.png" style="height:500px" align="center" />
</div>
<br />
<br />
<br />
<hr />

- # <font color='red' size=14>Welcome</font>
    **<h3>Recordings of the sessions will be made available at: <a href="www.youtube.com/@meteodata">www.youtube.com/@meteodata</a></h3>**

<h1><font color='red'> To Note</font></h1>
<hr>

###  *1*: We have limited Time. Participants should ask questions where necessary and provide feedback for the success of this  Webinar. <br />
###  *2*: This is a fundamental course and seeks to build foundational knowledge in Python Programming for Data Analysis.

<hr>
   <h1>HELPFUL RESOURCES</h1>
<ul>
    <li><a href="https://www.youtube.com/@meteodata">MeteoData</a></li>
    <li><a href="https://cemac.github.io/sc-python/">Centre for Environmental Modelling And Computation (CEMAC)</a></li>
    <li><a href="https://www.lukeconibear.com/introduction_to_scientific_computing/index.html">https://www.lukeconibear.com/introduction_to_scientific_computing/index.html</a></li>
    <li>SoloLearn</li>
    <li>W3Schools</li>
    <li>StackOverflow</li>
</ul>

<img width=850px height=500px align='right' src='img/IDE.jpg'>
<h3><font color="red">Python Interactive Development Environment <b>(IDE)</b></font></h3>

<hr>
<p>
<h3><font color='blue'>What is Scientific Computing?</font></h3></p>
<p>Scientific computing is the use of computer-based applications and programming tools to perform various science-based data 
assessment, manipulation and visualization. The goal at the end is to make meaningful scientific information out of the raw data that 
was initially available.   </p>
<br />

There are numerous programming tools, languages or packages that can be used for scientific computing. These are based on 
user preference and ease of use. A classical example of such tools is python, which to me, is most suited for this purpose 
(other programming communities will disagree!!!) 
<br />

<p>
In this class, the main aim is to teach fundamentals of Python programming language, their usage and application. Over the coming days, we shall try to explore the usefulness of the Python language, along with its benefits in Data Applications and Statistics.  
</p>


<hr>

<p><h3><font color='blue'>Why Python?</font></h3></p>
<p>Python (programming language) Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace.
Since most modern OS are written in C, compilers/interpreters for modern high-level languages are also written in C. Python is not an exception - its most popular/"traditional" implementation is called CPython and is written in C.
As python is object-oriented, it has its own garbage collector whereas in C user has to manage memory on his own. C has compiled language. The complete source code is converted into a machine language which is easier for a computer to understand. Python on other hand is interpreted.</p>
<p>Python can be integrated with other languages such as C, C++, and Java. This means that a programmer can take advantage of work already done in another language while using Python. It also means that he or she can leverage the strengths of other languages, such as the extra speed that C or C++ can offer, while still enjoying the ease of development that's a hallmark of Python programming. (M. Dawson, 2003, Python Programming for the Absolute Beginner)
</p>
<p> The advantages of Python programming spans, but is not limited to the following:</p>
<ul>
    <li><font color="red">Python is powerful</font></li>
    <li><font color="red">Python is easy to learn and use</font></li>
    <li><font color="red">Python is free and open-source language</font></li>
    <li><font color="red">Python runs everywhere</font></li>
    <li><font color="red">Python is object-oriented</font></li>
    <li><font color="red">Python has a strong community</font></li>
</ul>
<p> This is just a little information on the above subject matter</p><br />



Click <a href="https://github.com/jeffjay88/OneQuantum-Ghana/tree/main">here</a> for some detailed foundational information

<p><h3>Comments in Python</h3></p>
Comments, although added to a line of code, is a non-executable part of the code. In simple terms, though they exist as part
of the code, they have no effect on the code's execution. It only allows for readability of the code, and with ease. Python uses # for single line comments, and keeps multiple line comments in three opened and closed single or double quotes (''' ''' or """ """). For example: <br />
<p>#this is a single line comment</p>
<p>''' <br />
This is a multiple line comment. <br />
The entire block between the quotes are the comments, and have no effect on the code. <br />
'''</p>

In [ ]:
#This is a single line comment

In [ ]:
'''
This block of code is a multi-line comment.
All these parts are useful for readability but they play no specific part in the code run.
'''

# Print Statement

In [ ]:
print("Hello World")

In [ ]:
print(2+3)

<p><h3 style="color:#000">Variable Assignment</h3></p>
These are approaches for passing value to a variable. The value assigned the variable could be of any data type. Assignments are achieved by using the "=" sign. The main ways to assign values to a variable are by initialization (=), input and passing from a sub-process. Multiple assignments (passing an assigned variable as value to a new variable) are also possible. <br />

Examples are illustrated below.

In [ ]:
a = 2
a

In [ ]:
c = "Hello World"
c

## Python Data types
Python works with various data types, which include strings, integers, floats, boolean, arrays, lists, tuple, etc.



<img width=450px align='left' src="img/Python-data-structure.jpg" />
<br />

<h3>type() </h3>
The type() method is used to identify the data type for a defined variable. 
In order to find the type of a particular variable, simply use the code,  type(variable). <h4>For example: type('hello world') produces str, type(2) produces int, type(2.0) produces float, etc.
</h4><br />

<h4><big> i. String Data Type</big></h4>
These are data types that are kept in either single- or double- quotes. eg., 'python', 'today', 'first_name', "surname", "password".
It is inappropriate to close a single quote with a double-, or vice-versa. The opening and closing quotes must be same.
In appropriate string types include "here', 'class", etc.
<br />

In [ ]:
"Hello World"

In [ ]:
type("Hello World")   #check data type

In [ ]:
"Hello World".lower()   #change string to lowercase

In [ ]:
"Hello World".upper()   #change string to uppercase

In [ ]:
len("Hello World")     #Check the string length

In [ ]:
"Hello " + "World"     # String Concatenation

String Subsetting
--
Strings can be subset using the square brackets containing the starting index, ending index and step.


N/B: Python indexing starts from zero (0).

When left empty, the default starting index is 0, the ending index is equivalent to the length of the string and the step is 1, by default.

In [ ]:
"Hello World"[0:5]

In [ ]:
"Hello World"[1: :2]  #Select elements on odd position

In [ ]:
"Hello World"[: :2]  #Select elements on even position

In [ ]:
#The split() method splits a string along the given separator
"Hello World".split('W')

In [ ]:
text = "School on Air Quality and Pollution Prevention"
text.split("a")

# `Trial Example:` <br />
Create a string variable and subset by the following descriptions:
<ol>
    <li>First 5 elements</li>
    <li>Odd-indexed elements</li>
    <li>All elements from start to end with a step of 3</li>
</ol>

<details>
    <summary><h3><font color="green">Click to reveal Solution</font></h3></summary>
  

    # Question 1
    string_var = "A sample string variable"
    print(string_var[:5])
    
    
    
    # Question 2
    print(string_var[1: :2])
    
    # Question 3
    print(string_var[ : :3])
</details>

In [ ]:
# Question 1
string_var = "A sample string variable"
print(string_var[:5])


# Question 2
print(string_var[1: :2])


# Question 3
print(string_var[ : :3])

<h4><big> ii. Handling Numbers</big></h4>

Python has various representations of numbers. For a start, the basic ones we will be dealing with are integers and floats. You might be thinking, "Numbers are numbers. What's the big deal?" But integers and floats can act a little differently under special circumstances, as you'll see.<br /><br />

<h4><big> Integers </big></h4>
Integers are non-decimal digits, whereas floats have both whole and decimal portions. Examples of integers are 2, 4, -10, 0,  etc...
<br />
In Python 3, there is effectively no limit to how long an integer value can be. Of course, it is constrained by the amount of memory your system has, as are all things, but beyond that an integer can be as long as you need it to be: <br />


<h4><big> Floating-Point Numbers </big></h4>
The float type in Python designates a floating-point number. Float values are specified with a decimal point. Examples of floats are 2.1, 4.0, -21.5, -0., etc.   Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation: (for example .4e7)<br />

<h4><big> Complex Numbers </big></h4>
Complex numbers are represented by “ x + yj “. Python converts the real numbers x and y into complex using the function complex (x,y). The real part can be accessed using the function real () and imaginary part can be represented by imag ().

In [ ]:
type(2)

In [ ]:
type(2.0)

In [ ]:
type(4 + 2j)

In [ ]:
a = (-2)**0.5
type( a )

In [ ]:
(-2)**0.5

# Basic Arithmetic
Numbers, in Python, can be subjected to various computational forms, such as basic arithmetic (+, -, /, *, powers, mod, etc...)

By default, using both float and integer in a singular arithmetic action returns a float result. (eg. 2 + 0.5). There are a few exceptions to this statement (just so you know).

In [ ]:
2+3     #Addition

In [ ]:
2-3     #Subtraction

In [ ]:
9*8     #Multiplication

In [ ]:
5/2     #Division

In [ ]:
4.1//2    #Floor Division

In [ ]:
5%3       #Modulus (%)

In [ ]:
3**2     #Exponentiation

<h4 style="color:#000"><big> Boolean Data Type </big></h4>
<p>
    This comprises of only two variables (True or False). They mostly occur when an action is expected to return any of the two stated outputs. However, they can also be assigned to a variable by the user. Let's try to check their type below and find what the output is.
</p>

In [ ]:
type(True)

In [ ]:
type(False)

In [ ]:
2>3

<h4 style="color:#000"><big> Lists </big></h4>
<p>

Lists are created by placing all the items (elements) inside square brackets [], separated by commas. It can have any number of items and they may be of different types (integer, float, string etc.). Lists need not be homogeneous always which makes it the most powerful tool in Python. A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered even after their creation.
    
`A list can also have another list as an item. This is called a nested list.`

In [ ]:
a = [1,2,3,4]
type(a)

In [ ]:
names = ['KNUST','UnivLeeds','CAF','NADMO','UENR', 'GMet', 'Mckingtorch Africa']
names[0]             #List elements at the first index

In [ ]:
names[:3]     #List elements from the 1st to 3rd index

In [ ]:
names[ : :2]     #List elements at the odd index

In [ ]:
names[2] = 'Clean Air Fund'       #Lists are mutable
names

In [ ]:
names[::-1]      #This reverses the list elements

In [ ]:
names.append('EPA')              # Appending to a list
names

In [ ]:
lists = [1,2,3,4,5]

[x for x in lists]                 #List Comprehensio

In [ ]:
[(x,x**2) for x in lists]

# `Trial Example:` <br />
Create a list and perform the following actions:
<ol>
    <li>Subset the First 5 elements</li>
    <li>Subset all elements from start to end with a step of 3</li>
    <li>Append a new element to the existing list</li>
</ol>

# Control Flow

In [ ]:
#One-Way Decision

if 5>2:
    print('Yes')

In [ ]:
# Examples
x = 5
if x == 5:                 
    print( "x equals 5" )

In [ ]:
# Two-way Decisions
if 5<2:
    print("True")
else:
    print("False")

In [ ]:
# Multiple Decision
x = 2
if x<2:
    print("Less")
elif x==2:
    print("Equal")
else:
    print("False")

In [ ]:
# Iterations :   These can be achieved both with the for loop and/or the while loop
for num in range(5):
    print(num)

In [ ]:
names = ['KNUST','UnivLeeds','CAF','NADMO','UENR', 'GMet', 'Mckingtorch Africa', 'EPA']
for name in names:
    print(name)

In [ ]:
for index, name in enumerate(names):
    print(index, name)

# Functions

Functions, as used in any programming language, helps to simplify recursive, repetitive tasks. The goal of functions is to reduce the lines of code, and also to limit re-doing of same task over and over again. The word "function" has different meanings in mathematics and programming. In programming it refers to a named sequence of operations that perform a computation. Functions allow us to group a number of statements into a logical block. We communicate with a function through a clearly defined interface, providing certain parameters to the function, and receiving some information back. Importance of Functions include:<br />

- Reduces the size of your code.
- Saves typing and makes it easier to change the program later.
- Makes the code clearer and readable.
- Makes codes more manageable.


# Syntax
In Python 3, functions are defined of identified by the def statement. On the first line, the first item is to specify def (for defining functions), followed by the function_name(). The parenthesis are necessary since every functions relies on arguments, hence the parenthesis holds all dependent arguments. See the Python 3 function syntax below

def function_name (arg1, arg2 ...,argn):

    statements
    return

The variables arg1,arg2,argn are the parameters needed for the execution of the function's statements

To pass output from the function into the console, main_program, etc., it's advisable to use the return statement, which is acceptable way for function outputs.


To invoke the function, you call the function_name on the actual input values, and each input value must denote a defined dummy argument.

In [ ]:
def sum_of_nums(a,b):
    c=a+b
    return c

In [ ]:
sum_of_nums(2,3)

In [ ]:
sum_of_nums(30,20)

# Working with packages / modules

import package
import package as alias
from package import sub-package

<font color='red'><h2>List of Packages/modules that will be useful for this training</h2></font>
<hr>
<ul>
    <li>Numpy: <a href="https://pypi.org/project/numpy/">https://pypi.org/project/numpy/</a> </li>
    <li>Scipy: <a href="https://pypi.org/project/scipy/">https://pypi.org/project/scipy/</a> </li>
    <li>Matplotlib: <a href="https://pypi.org/project/matplotlib/">https://pypi.org/project/matplotlib/</a> </li>
    <li>Seaborn: <a href="https://pypi.org/project/seaborn/">https://pypi.org/project/seaborn/</a> </li>
    <li>Pandas: <a href="https://pypi.org/project/pandas/">https://pypi.org/project/pandas/</a> </li>
    <li>Xarray: <a href="https://pypi.org/project/xarray/">https://pypi.org/project/xarray/</a> </li>
    <li>Cartopy: <a href="https://pypi.org/project/Cartopy/">https://pypi.org/project/Cartopy/</a> </li>
</ul>
    <hr>

In [ ]:
import os
os.getcwd()              # Get the current working Directory

# Numpy

In [ ]:
import numpy as np

In [ ]:
# Generate 25 random positive numbers (between 0 and 1)
x = np.random.rand(25)       
x

In [ ]:
np.mean(x)      # Average of x

In [ ]:
np.median(x)    #Mid-point of x

In [ ]:
np.max(x)      # Highest Value in x

In [ ]:
np.argmax(x)      # Index/Position of Highest Value in x

In [ ]:
np.sum(x)        # Sum of x

In [ ]:
np.linspace(10,11)       # Generate a series of numbers from 10 to 11, evenly spaced out.

In [ ]:
np.linspace(10,11,25)       # Generate a series of numbers from 10 to 11, evenly spaced out and with a length of 25.

In [ ]:
x = np.linspace(0,10,15)
y = np.array([1,2,3])

xx, yy = np.meshgrid(x, y)
yy

In [ ]:
np.shape(xx)            # Shape of xx

In [ ]:
np.size(xx)            # Total size of xx

In [ ]:
np.transpose(yy)      # Transpose the Array

# Simple Visualization

import matplotlib.pyplot as plt

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# We generate a 2 column dataset, containing 100 rows each 
# Set a random seed for reproducibility
np.random.seed(0)

# Generate random data for 2 columns and 100 rows
data = np.random.random((100, 2))

# Visualize the data (Column 1 is the independent variable and Column 2 is the dependent variable)
plt.figure()                      # Create Figure Frame / Canvas
plt.plot( data[:,0] , data[:,1] , color='r', marker='s', linewidth=0)  # Plot with red markers and no connecting lines
plt.ylabel('Column 2', fontsize=15)
plt.xlabel('Column 1', fontsize=15)
plt.title('Simple Plot')

## Subplotting

In [ ]:
# We attempt to produce a 2-column x 2-row subplot
fig = plt.figure()
plt.subplots_adjust(wspace=0.5, hspace=0.5)

# Top-Left
ax = fig.add_subplot(2, 2, 1)
ax.plot(data[:,0])

# Top-Right
ax1 = fig.add_subplot(2, 2, 2)
ax1.plot(data[:,1])

# Bottom-Left
ax2 = fig.add_subplot(2, 2, 3)
ax2.plot( data[:,0] , data[:,1] , color='k', marker='o', linewidth=0)  # Plot with red markers and no connecting lines

# Bottom-Right

### Alternatively

In [ ]:
fig, axes = plt.subplots(ncols=2, nrows=2)
plt.subplots_adjust(wspace=0.5, hspace=0.5)

# Top-Left
axes[0,0].plot(data[:,0])

# Top-Right
axes[0,1].plot(data[:,1])

# Bottom-Left
axes[1,0].plot( data[:,0] , data[:,1] , color='k', marker='o', linewidth=0)  # Plot with red markers and no connecting lines

# Bottom-Right
axes[1,1].set_visible(False)        #Hide Panel

# <font color='blue'>pandas - working with tabular data</font>

In this session, you will be introduced to the fundamentals of Pandas and its regular usage. 

The `pandas` library is the best python package for working with tabular data (i.e. data that is organised into rows and columns) and is one of the most preferred tools for data scientists to perform data manipulation and analysis. It is built on fundamental libraries, such as, `matplotlib` for data visualization and `numpy`, for scientific computing. The fast, flexible `pandas` data structures are designed to make real-world data analysis significantly easier, however it takes consistency in practice to master.


# <font color='blue'>What's pandas for?</font>

Pandas has so many uses. It is essentially your data’s home. Through `pandas`, you get acquainted with your data by cleaning, transforming, and analyzing it. There are numerous tasks you can perform with Pandas on a dataset, which include but is not limited to:

- Calculating statistics of the data, and making inferrence such as
    - What's the average, median, max, or min of each column?
    - Does column A correlate with column B?
    - What does the distribution of data in column C look like?, etc.
- Clean the data (eg. removing missing values and filtering rows or columns by certain criteria)
- Visualize the data with help from Matplotlib or Seaborn. 
- Store the cleaned, transformed data into other file.

# <font color='blue'>How to Install Pandas</font>

Being a pure python package `pandas` can be installed either with `pip` or with `conda`. `pandas` is included with the `conda` environment for the course, but in general you would install by opening up your terminal / command line and install using either:
        
```bash
$> conda install pandas
```

or

```bash
$> pip install pandas
```

Precede the commands with (!) if you are attempting to install via the Jupyter cell or Spyder console (`!pip install pandas`).

<h2><font color='blue'>IMPORTING/LOADING PANDAS PACKAGES</font></h2>
<strong><font color='red'>Option 1:</font></strong> import pandas <br />
<strong><font color='red'>Option 2:</font></strong> import pandas as pd<br />
<strong><font color='red'>Option 3:</font></strong> from pandas import date_range<br />
<strong><font color='red'>Option 4:</font></strong> from pandas import date_range as pdr<br />

We will try a few after introducing them. Usually, you should place your imports at the top of the notebook.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

You can make use of the `help()` function with any pandas function/module and this produces a long-list documentation on use of the particular feature.

eg. `help(pd.date_range)`

In [ ]:
help(pd.date_range)

# <font color='blue'>Read Data from .csv file</font>

There are many useful datasets we will be using during this Webinar Session. Find <a href="https://github.com/aqppssgh/2023-School/tree/main/Data">Here</a>

In [ ]:
github_raw_url = "https://raw.githubusercontent.com/aqppssgh/2023-School/main/Data/Jamestown.csv"

df = pd.read_csv(github_raw_url, sep=',')  #Read data from csv file with separator / delimiter set as comma.
df

# Getting Basic Information about the dataFrame

In [ ]:
df.head()       #Top 5 rows of the data

In [ ]:
df.tail(2)       #Bottom 2 rows of the data

In [ ]:
df.info()

In [ ]:
df.shape  # Provides the shape of the dataframe

In [ ]:
df.size  # Provides the size of the dataframe

In [ ]:
df.columns  # Provides the column headers

In [ ]:
df.index  # Provides the row index of the dataframe

In [ ]:
df.describe()             #Gives a basic statistical description/summary of the data

In [ ]:
df.count()  # Provides the number of elements within the dataframe.

In [ ]:
df.sum()  # Provides the summation of the dataframe elements.

In [ ]:
df.cumsum()                # Provides the cumulative sum of the dataframe elements.

In [ ]:
df.min()  # Provides the minimumn/maximum of the dataframe elements.
df.max()

# <font color='blue'>Select Column(s)</font>

There are 2 ways to select a column data from a pandas DataFrame. You can employ the square brackets approach or the dot method. Let's test out both options, by calling out the Air Quality Index (aqi) data from df.

In [ ]:
df['aqi']   #Approach 1

In [ ]:
df.aqi   #Approach 2

#### For multiple column selections, the square brackets approach is preferred. In that instance, within the selection, pass the columns to select as a list ([.....]) into the existing square brackets. 
<br />

#### Let's try out an example of selecting both aqi and Calibrated PM$_{2.5}$ mass concentration <b>(pm2_5MassConcCalib[ug/m3])</b>.

Example:

In [ ]:
df[ ["aqi","pm2_5MassConcCalib[ug/m3]" ] ]

## Sort and Rank Data with Pandas

This allows for arranging dataframe in a specified order (increasing/decreasing), based on priority.

In [ ]:
df.sort_index()       # Sort by the index

In [ ]:
df.sort_values(by="aqi")  # sort by Wind Speed

In [ ]:
df.sort_values(
    by=["aqi", "pm1MassConcRaw[ug/m3]"]
)  # Sort by Temperature and then Wind Direction

In [ ]:
# Assign ranks to entries
df.rank()

# DataFrames & Series
Tabular data are treated by Pandas as either Series (essentially a single column) or DataFrame (multi-dimensional table made up of a collection of Series).

In [ ]:
type(df.aqi)

In [ ]:
type(df)

# Timeseries
Pandas has in-built functionality ( .to_datetime() ) that allows it read and interpret timeseries when passed into it.

In [ ]:
df.timeUtc    #The default df.timeUtc data is read as an object

In [ ]:
pd.to_datetime( df.timeUtc )     #After employing the .to_datetime() method, df.timeUtc is converted to datetime64 datatype (time format).

In [ ]:
# Let's attempt to convert the df.timeUtc to a datetime format and set as the index for the Tabular Data

In [ ]:
df.timeUtc = pd.to_datetime( df.timeUtc )
df = df.set_index("timeUtc")

In [ ]:
df

# Simple Visualizations

In [ ]:
df.aqi.plot()

In [ ]:
df.aqi.plot(kind='kde')

In [ ]:
df.plot.scatter(x='aqi', y="pm2_5MassConcRaw[ug/m3]")

# CASE ASSESSMENTS 

https://ourworldindata.org/

# <font color="red">1. OUTDOOR POLLUTION RATES (BY AGE)</font>

In [ ]:
github_raw_url = "https://raw.githubusercontent.com/aqppssgh/2023-School/main/Data/outdoor-pollution-rates-by-age.csv"

df_opr_age = pd.read_csv(github_raw_url, skiprows=1)
df_opr_age

# Subset Ghana Data Only

In [ ]:
df_GH = df_opr_age[ df_opr_age.Entity == 'Ghana' ]

# Drop Columns (Entity & Code) & Set Year as Index

In [ ]:
df_GH = df_GH.drop(['Entity','Code'], axis=1).set_index('Year')

In [ ]:
df_GH.plot(
           marker='s',
           legend=False, 
           title='Deaths from all causes attributed to ambient particulate \nmatter pollution per 100,000 people, in both sexes '
)

#plt.yscale('log')    # Set y-ticks in Logarithmic Order
plt.legend(bbox_to_anchor=(1,.85)) # Place Legend at position 1 on x-axis and 0.85 on y-axis locations

# Question

* What do these figures imply?

# <font color="red">2. NUMBER OF DEATHS BY RISK FACTOR</font>

In [ ]:
github_raw_url = "https://raw.githubusercontent.com/aqppssgh/2023-School/main/Data/number-of-deaths-by-risk-factor.csv"

df = pd.read_csv(github_raw_url, skiprows=1)
df

# Subset Ghana Data Only

In [ ]:
df_GH = df[df.Entity == 'Ghana']

# Drop Columns (Entity & Code) & Set Year as Index

In [ ]:
df_GH = df_GH.drop(['Entity','Code'], axis=1).set_index('Year')

# Visualization

In [ ]:
colors = ['r','g','b','y','m','c','k','brown','grey','orange']
linestyle = ['-', '--']
markers = ['s', 'o', 'v', 'p', '^', 'd', '>']

for x,var in enumerate(df_GH.columns):
    df_GH[var].plot(
                    legend = False,
                    title = 'Deaths that are from all causes attributed to',
                    marker = markers[x//4],
                    color = colors[x%10]
    )
    
    plt.legend(bbox_to_anchor=(1.05,1.05), fontsize=8) # Place Legend at position 1 on x-axis and 0.85 on y-axis locations

# Question

* What does this figure imply?

# Thank you for your attention!

# Questions?